<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adicionar Produto</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <h1>Adicionar Produto</h1>
    <form action="/products/save" method="POST">
      <dvi>
        <input type="text" name="nameProduct" placeholder="Digite um nome para o produto" />
      </dvi>
      <dvi>
        <input type="text" name="valueProduct" placeholder="Digite o valor" />
      </dvi>
      <dvi>
        <input type="submit" value="Cadastrar" />
      </dvi>
    </form>
  </body>
</html>
