<div id="book-page">
  <a href="/books">Voltar</a>
  <div class="container">
    <h1>{{book.title}}</h1>
    <p>Este livro tem {{book.pagesqty}} paginas</p>
    <div class="actions">
      <a href="/books/edit/{{book.idbooks}}">Editar</a>
      <form action="/books/remove/{{book.idbooks}}" method="POST">
        <input type="submit" value="Remove" />
      </form>
    </div>
  </div>
</div>