<h1>Livros disponiveis:</h1>
<div class="books-container"> 
    <a href="/">Adicionar novo livro</a>
    {{#each books}}
    <div>
        #{{this.idbooks}} - <span class="bold"><a href="/books/{{this.idbooks}}">{{this.title}}</a></span> - {{this.pagesqty}} paginas
    </div>
    {{/each}}
</div>