body{
    margin: 0;
}

.container{
    padding: 50px;
}

.img-float {
    width: 200px;
    height: 200px;
    float: left;
}

.div-float{
    overflow: auto;
}

.p-float {
    color: #000;
}

.float-right{
    float: right;
}

.clear{
    clear: both;
}