<div>
  {{#with product}}
    <h1>{{title}}</h1>
    <p>{{category}}</p>
    <p>{{body}}</p>
    <p>Preco: {{price}}</p>
  {{/with}}
  <p><a href="/products">Clique Aqui</a> para voltar a pagina de produtos</p>
  <p><a href="/">Clique Aqui</a> para voltar a pagina home</p>
</div>