<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adicionar Usuario</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <h1>Adicionar Usuario</h1>
    <form action="/users/save" method="POST">
      <dvi>
        <input type="text" name="name" placeholder="Digite um nome" />
      </dvi>
      <dvi>
        <input type="text" name="age" placeholder="Digite a idade" />
      </dvi>
      <dvi>
        <input type="submit" value="Cadastrar" />
      </dvi>
    </form>
  </body>
</html>
