<h1>Edite o seu livro:</h1>
<form action="/books/updatebook" method="POST" class="form">
  <input type="hidden" name="idbooks" value="{{book.idbooks}}">
  <div class="form-control">
    <label for="title">Titulo:</label>
    <input type="text" name="title" placeholder="Digite o titulo" value="{{book.title}}"/>
  </div>
  <div class="form-control">
    <label for="pagesqty">Numero de paginas:</label>
    <input
      type="number"
      name="pagesqty"
      placeholder="Quantas paginas o livro tem?"
      value="{{book.pagesqty}}"
    />
  </div>
  <input type="submit" value="Editar" />
</form>