<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Handlebars Tarefa 04</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav>
        <p>Barra de navegacao</p>
    </nav>
    {{{body}}}
    <footer>
        <p>By: Dyego Henrique</p>
    </footer>
</body>
</html>